* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100%;
    background-color: lightgray;
}

.page-container {
    width: 1000px;
    margin: 10px auto;
    padding: 32px;
    background-color: white;
}

.product-listing {
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    flex-direction: row;
}

.product-listing .product-list-item {
    padding: 10px 30px;
    width: 200px;
    height: 150px;
}

.total {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    color: green;
    font-weight:bold;
    padding-top: 10px;
}

.orderList {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding-left: 15px;
    align-items: center;
    padding-bottom: 3px;
}

.orderItem {
    width: 25%;
}

.orderTemp {
    box-sizing: border-box;
    /*padding: 5px 5px 5px;*/
    width: 270px;
    margin-top: 50px;
    background-color: #FFF;
    border: 1px solid #DBE3E7;
    border-radius: 3px;
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.08);
    position: fixed;
    /*position: absolute;*/
    text-align: left;
    color: #2B2E31;
    /*opacity: 0;*/
    /*pointer-events: none;*/
}

.main-content{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    /*justify-content: flex-end;*/
}

.orderTemp_list_1{
    display: flex;
    flex-flow: nowrap column;

}

.orderTemp_list_2{
    display: flex;
    flex-flow: nowrap row;
    padding-bottom: 10px;
    justify-content: space-between;
}

/*html,*/
/*body,*/
/*#root,*/
/*.app,*/
/*.room {*/
    /*height: 100%;*/
/*}*/
/*html,*/
/*body {*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*font-family: Georgia, "Times New Roman", Times, serif;*/
/*}*/
.room {
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    height: 500px;
}
.room.lit {
    background: #fff;
    color: #222;
}
.room.dark {
    background: #222;
    color: white;
}
