* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100%;
    background-color: lightgray;
}

.page-container {
    width: 800px;
    margin: 10px auto;
    padding: 32px;
    background-color: white;
}

.product-listing {
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    flex-direction: row;
}

.product-listing .product-list-item {
    padding: 10px 30px;
    width: 200px;
    height: 150px;
}

.total {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    color: green;
    font-weight:bold;
    padding-top: 10px;
}

.orderList {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding-left: 15px;
    align-items: center;
    padding-bottom: 3px;
}

.orderItem {
    width: 25%;
}